:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    --color : #FF0000;
    --color2 : #CC0000;
    --color3 : #3B4CCA;
    --color4 : #FFDE00;
    --color5 : #B3A125;
}

/* Navbar styles */

nav {
  background-color: var(--color4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 0;
  box-shadow: 6px 6px 8px #00000020;
}

nav svg {
  height: 3rem;
  width: auto;
}

/* Buscador styles */

.titulo {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.container-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.input-buscar {
  background-color: var(--card);
  color: var(--text);
  border: 4px solid #ddd;
  border-radius: 10px;
  padding: 18px;
  flex: .4;
  font-size: 18px;
  box-shadow: 4px 4px 16px #00000020;
}

.btn-buscar {
  background-color: var(--color2);
  color: #f2f2f2;
  border-radius: 10px;
  padding: 6px;
  border: none;
  box-shadow: 4px 4px 16px #00000020;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 3px;
  font-size: 18px;
  transition: 0.2s;
}

.btn-buscar svg {
  width: 14px;
  fill: #f2f2f2;
}

.btn-buscar:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.btn-buscar:focus {
  border: none;
}

/* Pokemones styles */

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 10px;
  max-width: 1200px;
  margin: 1rem auto;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color3);
  padding: 5px 0;
  box-shadow: 4px 4px 4px #21212120;
  cursor: pointer;
  transition: 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.2);
  box-shadow:0 0 15px 0 #21212170;
}

.pokemon-imagen {
  width: 150px;
  height: 150px;
  margin: 5px 0;
}

.pokemon-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454A54;
  color: #eee;
  font-weight: 600;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 10px;
  width: 50%;
}

/* Detalle styles */
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  place-items: center;
  transition: all 0.6s;
  z-index: 1;
}

.modal-body {
  background-color: #fff;
  width: 40%;
  min-width: 400px;
  border-radius: 10px;
  position: absolute;
  padding: 1rem;
  display: flex;
}

.imagen-container {
  display: grid;
  place-items: center;
}

.imagen-detalle {
  width: 300px;
  aspect-ratio: 8/10;
}

.tag {
  background-color: #26e;
  color: #f2f2f2;
  padding: 4px 6px;
  margin-right: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.data {
  display: grid;
  padding: 0 .5rem;
  gap: 10px;
  flex: 1;
}

.data .titulo {
  margin: 0;
  text-transform: capitalize;
  font-weight: 500;
}

.titulo-seccion {
  font-weight: 500;
}

.data section {
  background-color: #eee;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 4px 4px 4px #21212120;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.stats > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

.puntos {
  border: 2px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}